@import url(div-styles.css);
@import url(h1-h6-styles.css);
@import url(list-styles.css);

a.edit::before {
    content: "[править]";
}
a.edit-code::before {
    content: "[править код]";
}

span.border {
    background-color: aliceblue;
    border: solid thin;
}

img.image1 {
    height: 100px;
    width: 150px;
}

pre.code-style {
    border: solid thin;
    background-color: aliceblue;
}